@charset "UTF-8";
@keyframes rotation {
  0% {
    transform: rotate(0) translateX(0px);
  }
  25% {
    transform: rotate(360deg) translateX(0px);
  }
  100% {
    transform: rotate(360deg) translateX(0px);
  }
}
@keyframes affichage {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes load {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes display-contain {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
/*Fixer les breakpoints*/
/*Régler le background de la version mobile*/
/*Régler le background de la version desktop*/
.header {
  position: relative;
}
.header__logo {
  font-family: Shrikhand;
  text-align: center;
  margin: 12px 0px 12px 0px;
  font-size: 40px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 37px;
}
footer h2 {
  font-family: Shrikhand;
  padding-top: 27px;
  padding-left: 25px;
  font-size: 20px;
}
footer ul {
  list-style: none;
  padding-top: 23px;
  padding-left: 25px;
}
footer ul li {
  font-family: Roboto;
  padding-bottom: 11px;
}
footer ul li a {
  text-decoration: none;
  color: #ffffff;
}
footer ul li a:hover {
  text-decoration: underline;
}
footer ul li i {
  margin-right: 12px;
}
footer ul li:first-child a {
  padding-left: 7px;
}

.btn {
  font-family: Roboto;
  font-weight: 450;
  border: none;
  height: 50px;
  width: 217px;
  color: white;
  margin-top: 32px;
  background-image: linear-gradient(#9356dc, #ff79da);
  border-radius: 35px 35px 35px 35px;
}
.btn:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

/*Ajouter le fléche de retour sur les pages des menus*/
header a::before {
  position: absolute;
  display: flex;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  top: 24px;
  left: 8%;
  font-size: 21px;
  color: #000000;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-size: contain;
  width: 100%;
  padding-top: 50%;
  margin: 0px;
  /*version desktop*/
}
.container__image-bg {
  display: none;
}
@media screen and (min-width: 993px) {
  .container {
    background-size: 100% 50%, contain;
    background-position: 30% -36%;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 30%;
    margin: 0px;
  }
}
.container__menu {
  background-color: #f6f6f6;
  border-radius: 15px 15px 0px 0px;
  padding: 34px;
  /*version tablette*/
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container__menu {
    padding: 34px 15% 34px 15%;
  }
}
.container__menu h1 {
  font-family: Shrikhand;
  font-size: 30px;
  padding-bottom: 34px;
  font-weight: 300;
}
.container__menu .heart i {
  position: absolute;
  right: 37px;
  top: 37px;
  font-size: 26px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container__menu .heart i {
    right: 120px;
  }
}
@media screen and (min-width: 993px) {
  .container__menu .heart i {
    right: 65px;
  }
}
.container__menu .heart .fas {
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  cursor: pointer;
  opacity: 0;
}
.container__menu .heart:hover .fas {
  opacity: 1;
  transition-duration: 100ms;
  transform: scale(1.2);
}
.container__menu .heart:hover .far {
  opacity: 0;
}
@media screen and (min-width: 993px) {
  .container__menu .type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-gap: 2%;
    grid-row-gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container__menu .type {
    display: flex;
    flex-direction: column;
    grid-row-gap: 20px;
    grid-column-gap: 2%;
  }
}
.container__menu .type__menu {
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;
  margin-bottom: 45px;
  /*Régler le soulignement de titre*/
  /*Boucle For pour afficher les 3 menus avec animatio*/
}
@media screen and (min-width: 993px) {
  .container__menu .type__menu {
    width: 48%;
  }
}
.container__menu .type__menu h2 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 11px;
  width: max-content;
  font-weight: 300;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.container__menu .type__menu h2:after {
  content: "";
  position: absolute;
  width: 74%;
  height: 1px;
  bottom: 0px;
  left: 0%;
  border-bottom: solid #99e2d0;
}
.container__menu .type__menu .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 15px;
  line-height: 30px;
  /*Régler l'animation de card*/
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container__menu .type__menu .card {
    line-height: 30px;
  }
}
@media screen and (min-width: 993px) {
  .container__menu .type__menu .card {
    line-height: 40px;
  }
}
.container__menu .type__menu .card__contain {
  display: flex;
  flex-direction: column;
  padding: 18px 26px 11px 12px;
  width: 100%;
}
.container__menu .type__menu .card__contain h3 {
  font-family: Roboto;
  font-size: 18px;
}
.container__menu .type__menu .card__contain .subtitle {
  display: flex;
  justify-content: space-between;
}
.container__menu .type__menu .card__contain .subtitle h4 {
  font-family: Roboto;
  font-weight: 200;
  font-size: 13px;
}
.container__menu .type__menu .card__symbole {
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  transition: width 400ms linear 0s;
  width: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__menu .type__menu .card__symbole i {
  color: transparent;
  font-size: 30px;
}
.container__menu .type__menu .card:hover {
  /*Modfier le premier élément h4*/
}
.container__menu .type__menu .card:hover .card__symbole {
  width: 20%;
}
.container__menu .type__menu .card:hover .card__symbole i {
  animation: rotation 500ms linear;
  color: #ffffff;
}
.container__menu .type__menu .card:hover .subtitle h4:first-child {
  font-family: Roboto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  max-width: 70%;
}
.container__menu .type__menu .card:hover h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70%;
}
.container__menu .type__menu--1 {
  animation: affichage 1s;
}
.container__menu .type__menu--2 {
  animation: affichage 2s;
}
.container__menu .type__menu--3 {
  animation: affichage 3s;
}
.container .btn {
  font-family: Roboto;
  font-weight: 450;
  border: none;
  height: 50px;
  width: 217px;
  color: white;
  margin-top: 32px;
  background-image: linear-gradient(#9356dc, #ff79da);
  border-radius: 35px 35px 35px 35px;
  text-align: center;
  display: block;
  margin: auto;
}
.container .btn:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

/*Télechargement de la page*/
.loading {
  border: 10px solid #ff79da;
  border-top: 10px solid #9356dc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: load 2s linear;
  animation-fill-mode: forwards;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

/*Combinateur parent*/
.container-accueil {
  animation: display-contain 4s linear;
  animation-fill-mode: forwards;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
@media screen and (min-width: 993px) {
  .container-accueil {
    margin: auto;
  }
}

.main {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #f6f6f6;
}

.search {
  text-align: center;
  padding-bottom: 60px;
}
.search__location {
  width: 100%;
  height: 50px;
  display: inline-block;
  box-shadow: 0px -1px 2px #eaeaea;
  background-color: #eaeaea;
}
.search__location i {
  margin-left: 54px;
  margin-right: 9px;
}
.search__location input {
  height: 100%;
  border: none;
  font-family: Roboto;
  background-color: transparent;
}
.search h1 {
  font-family: Roboto;
  margin-top: 44px;
}
.search p {
  font-family: Roboto;
  font-weight: 400;
}

.function {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 50px 31px 68px 20px;
}
@media screen and (min-width: 993px) {
  .function__liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-gap: 2%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .function__liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-gap: 2%;
    justify-content: space-evenly;
  }
}
.function h2 {
  margin-left: 20px;
  font-family: Roboto;
  margin-bottom: 30px;
}
@media screen and (min-width: 993px) {
  .function h2 {
    margin-left: 0px;
  }
}
.function .type {
  display: flex;
  height: 79px;
  position: relative;
  margin-bottom: 20px;
  padding-left: 35px;
  background-color: #f6f6f6;
  cursor: pointer;
  box-shadow: 10px 5px 5px #f6f6f6;
  border-radius: 25px 25px 25px 25px;
  /*Combinateur descendant*/
  /*Combinateur parent > enfant*/
  /*Combinateur parent > enfant*/
  /*Combinateur parent adjacent*/
}
.function .type:hover {
  transform: scale(1.05);
}
.function .type .fa-store {
  color: #9356dc;
}
.function .type .fa-mobile-alt,
.function .type .fa-list {
  color: #696969;
}
@media screen and (min-width: 993px) {
  .function .type {
    box-shadow: 0px 0px 0px #f6f6f6;
    width: 29%;
  }
}
.function .type .chiffre {
  color: #ffffff;
  background-color: #9356dc;
  font-family: Roboto;
  text-align: center;
  border-radius: 13px;
  position: absolute;
  left: -10px;
  top: 26px;
  width: 26px;
  height: 23px;
  padding-top: 3px;
}
@media screen and (min-width: 993px) {
  .function .type .chiffre {
    left: -12px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    width: 10px;
  }
}
.function .type > i {
  margin-top: 32px;
  font-size: 20px;
}
.function .type > h3 {
  margin-top: 32px;
  padding-right: 20px;
  font-family: Roboto;
}
.function .type i + h3 {
  margin-left: 28px;
}

.icone-color {
  color: #9356dc;
}

.restaurant {
  padding-top: 20px;
  padding-bottom: 64px;
  margin: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;
}
.restaurant__liste {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 993px) {
  .restaurant__liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-gap: 2%;
    grid-row-gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurant__liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-gap: 2%;
    grid-row-gap: 20px;
  }
}
.restaurant h2 {
  font-family: Roboto;
}
.restaurant h3 {
  margin-top: 19px;
  margin-bottom: 12px;
  font-size: 20px;
  font-family: Roboto;
}
.restaurant h4 {
  font-weight: 300;
  font-size: 15px;
  font-family: Roboto;
}
.restaurant .cards {
  background-color: #ffffff;
  width: auto;
  padding-bottom: 12px;
  border-radius: 15px 15px 15px 15px;
  position: relative;
  margin-bottom: 25px;
  text-decoration: none;
  color: #000000;
  /*Version Desktop*/
  /*Version tablette*/
  /*La notification Nouveau*/
}
@media screen and (min-width: 993px) {
  .restaurant .cards {
    width: 32%;
  }
  .restaurant .cards:hover {
    transform: scale(1.05);
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurant .cards {
    width: 49%;
  }
}
.restaurant .cards .notif {
  background-color: #99e2d0;
  position: absolute;
  border: none;
  color: #008766;
  width: 80px;
  height: 28px;
  top: 17px;
  right: 10px;
  border-radius: 2px;
  font-family: Roboto;
  text-align: center;
  padding-top: 7px;
}
@media screen and (min-width: 993px) {
  .restaurant .cards .notif {
    padding-left: 1px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurant .cards .notif {
    padding-left: 1px;
  }
}
.restaurant .cards .description {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 26px;
  position: relative;
  /* l'animation du coeur*/
}
.restaurant .cards .description__heart {
  /* 1er coeur bold*/
  /*2eme coeur claire*/
}
.restaurant .cards .description__heart i {
  margin-top: 25px;
  padding-right: 2px;
  font-size: 27px;
}
.restaurant .cards .description__heart .fas {
  position: absolute;
  right: 1px;
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  cursor: pointer;
  opacity: 0;
}
.restaurant .cards .description__heart:hover .fas {
  opacity: 1;
  transition-duration: 100ms;
  transform: scale(1.2);
}
.restaurant .cards .description__heart:hover .far {
  opacity: 0;
}
.restaurant .cards img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  padding: 0px;
  margin: 0px;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
ul {
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

[hidden] {
  display: none;
}

.container-bg-1 {
  background-image: url("../../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.container-bg-2 {
  background-image: url("../../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.container-bg-3 {
  background-image: url("../../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.container-bg-4 {
  background-image: url("../../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
