
.loading{
  border:10px solid $color-secondary;
  border-top:10px solid $color-primary;
  border-bottom:10px solid $color-secondary;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: load 2s linear;
  animation-fill-mode: forwards;
  margin: auto;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.container-accueil{
  animation: display-contain 4s linear;
  animation-fill-mode: forwards;
  width: 100%;
  padding: 0px;
  margin: 0px;
  @include breakpoints(map-get($breakpoints,desktop),min,false){
    margin:  auto;
  }
}
.main {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: $color-back;
}
.search {
  text-align: center;
  padding-bottom: 60px;
  &__location {
    width: 100%;
    height: 50px;
    display: inline-block;
    @include shadow($color-search, 0px, -1px, 2px);
    background-color: $color-search;
    & i {
      margin-left: 54px;
      margin-right: 9px;
    }
    & input {
      height: 100%;
      border: none;
      @include police-text;
      background-color: transparent;
    }
  }
  & h1 {
    @include police-text;
    margin-top: 44px;
  }
  & p {
    @include police-text;
    font-weight: 400;
  }
}
.function {
  display: flex;
  flex-direction: column;
  @include breakpoints(map-get($breakpoints,desktop),min,false){
    & span{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-gap: 2%;
  }

    @include breakpoints(map-get($breakpoints,mobile)+1, min,false) {
      @include breakpoints(map-get($breakpoints,desktop)-1, max,false) {

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      grid-column-gap: 2%;
    }
  }}
  background-color: $color-background;
  padding: 50px 31px 68px 20px;

  & h2 {
    margin-left: 20px;
    @include police-text;
    margin-bottom: 30px;
    @include breakpoints(map-get($breakpoints,desktop),min,false){
      margin-left: 0px;
    }
  }

  &__type {
    display: flex;
    height: 79px;
    position: relative;
    margin-bottom: 20px;
    padding-left: 35px;
    background-color: $color-back;
    @include shadow($color-back, 10px, 5px, 5px);
    border-radius: 25px 25px 25px 25px;
    @include breakpoints(map-get($breakpoints,desktop),min,false){
      @include shadow($color-back, 0px, 0px, 0px);
      width: 29%;
    }

    & span {
      color: white;
      background-color: $color-primary;
      @include police-text;
      text-align: center;
      border-radius: 13px;
      position: absolute;
      left: -10px;
      top: 26px;
      width: 26px;
      height: 23px;
      padding-top: 3px;
      @include breakpoints(map-get($breakpoints,desktop),min,false){
        left: -12px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        width: 10px;
      }
    }

    & > i {
      margin-top: 32px;
      font-size: 20px;
    }

    & > h3 {
      margin-top: 32px;
      padding-right: 20px;
      @include police-text;
    }

    & i + h3 {
      margin-left: 28px;
    }
  }
}

.icone-color {
  color: $color-primary;
}

.restaurant {
  padding-top: 20px;
  padding-bottom: 64px;
  margin: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;
  @include breakpoints(map-get($breakpoints,desktop),min,false){
    & span{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      grid-row-gap: 20px;
      grid-column-gap: 2%;
    }
  }
 /* @include breakpoints(map-get($breakpoints,tablette),min,true) {*/

  @include breakpoints(map-get($breakpoints,mobile)+1, min,false) {
    @include breakpoints(map-get($breakpoints,desktop)-1, max, false) {
      & span {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-row-gap: 20px;
        grid-column-gap: 2%;
      }
    }
  }

  & h2 {
    @include police-text;
  }

  & h3 {
    margin-top: 19px;
    margin-bottom: 12px;
    font-size: 20px;
    @include police-text;
    & a{
      text-decoration: none;
    }
  }

  & h4 {
    font-weight: 300;
    font-size: 15px;
    @include police-text;
  }

  &__card {
    background-color: $color-background;
    width: auto;
    padding-bottom: 12px;
    border-radius: 15px 15px 15px 15px;
    position: relative;
    margin-bottom: 25px;
    @include breakpoints(map-get($breakpoints,desktop),min,false){
      width: 32%;
    }
    /*@include breakpoints(map-get($breakpoints,tablette),min,true) {*/
    @include breakpoints(map-get($breakpoints,mobile)+1, min,false) {
      @include breakpoints(map-get($breakpoints,desktop)-1, max, false) {
        width: 49%;
      }
    }
    & .notif {
      background-color: $color-tertiary;
      position: absolute;
      border: none;
      color: $color-notif;
      width: 80px;
      height: 28px;
      top: 17px;
      right: 10px;
      border-radius: 2px;
      @include police-text;
      text-align: center;
      padding-top: 7px;
      @include breakpoints(map-get($breakpoints,desktop),min,false){
        padding-left: 14px;
      }
      @include breakpoints(map-get($breakpoints,tablette),min,true){
        padding-left: 14px;
      }
    }

    & .description {
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin-right: 26px;
      position: relative;
      &__heart{
      & i {
        margin-top: 25px;
        padding-right: 2px;
        font-size: 27px;
      }
    & .fas{
          position: absolute;
          right: 1px;
          color: transparent;
          background-image: linear-gradient($color-primary, $color-secondary);
          background-clip: text;
          cursor: pointer;
          opacity: 0; 
    }
      &:hover .fas{
        opacity: 1;
        transition-duration: 100ms;
        transform: scale(1.2);
       }
  }
}
  
   /* .fa-heart::before {
      content: "\f004";
      font-weight: bold;
      transition: color 1s ease-out;
    }
    .fa-heart:hover::before{
      color: red;
      cursor: pointer;
    }*/
    & img {
      width: 100%;
      height: 174px;
      object-fit: cover;
      border-radius: 15px 15px 0px 0px;
    }
  }
}