$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-search:#eaeaea;
$color-search-button:#e3abeb;
$color-background:#FFFFFF;
$color-back:#f6f6f6;
$color-notif:#008766;
$anim-delay:1s;
$img-back-cont1:url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
$img-back-cont2:url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
$img-back-cont3:url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
$img-back-cont4:url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
$breakpoints: (
        mobile: 767px,
        desktop: 993px
);


@keyframes rotation {
  0% {
    transform: rotate(0) translateX(0px);
  }
  25%{
    transform: rotate(360deg) translateX(0px);
  }

  100% {
    transform: rotate(360deg) translateX(0px);
  }
}
@keyframes affichage {
  0% {
    transform: translateY(0px);
  }
  25%{
    transform: translateY(25px);
  }

  100% {
    transform:translateY(100px);
  }
}
@keyframes couleur{
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform:translateY(0px);
    opacity: 1;
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.5);
    opacity: 0;
  }
  100% {
    transform: scaleY(1.0);
    opacity: 1;
  }
}
@keyframes load {
  0%{
    transform: rotate(0deg);
    opacity:1;
  }
  100%{
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes display-contain {
  0%{
    opacity:0;
  }
  50%{
    opacity:0.1;
  }
  100%{
    opacity: 1;
  }
}