footer {
  background-color:$color-black;
  color: $color-background;
  padding-bottom: 37px;
  & h2 {
    @include police-title;
    padding-top: 27px;
    padding-left: 25px;
    font-size: 20px;
  }
  & ul {
    list-style: none;
    padding-top: 23px;
    padding-left: 25px;
    & li {
      @include police-text;
      padding-bottom: 11px;
      & a {
        text-decoration: none;
        color: $color-background;
        &:hover{
          text-decoration: underline;
        }
      }
      & i{
        margin-right:12px;
      }
    }
    & li:first-child a{
      padding-left:7px;
    }
  }
}